[submodule "cocotb/cocotbext-imxeim"]
	path = cocotb/cocotbext-imxeim
	url = https://github.com/Martoni/cocotbext-imxeim
[submodule "cocotb/chisverilogutils"]
	path = cocotb/chisverilogutils
	url = https://github.com/Martoni/chisverilogutils.git
[submodule "cocotb/cocomod-wishbone"]
	path = cocotb/cocomod-wishbone
	url = https://github.com/Martoni/cocomod-wishbone.git
